<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5tkmzNklnvBdpuqIkAFu_5Qr5jOY4faA</string>
	<key>GCM_SENDER_ID</key>
	<string>272633119424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lauquangDoan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lauquang-doan</string>
	<key>STORAGE_BUCKET</key>
	<string>lauquang-doan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272633119424:ios:de7c0c18b5ebe68e96a325</string>
</dict>
</plist>